{{ $agender := resources.Get "blinkies/agender.png" }}
{{ $anthrax := resources.Get "blinkies/anthrax.gif" }}
{{ $anythingbut := resources.Get "blinkies/anythingbut.gif" }}
{{ $bi := resources.Get "blinkies/bi.png" }}
{{ $cssdif := resources.Get "blinkies/cssdif.gif" }}
{{ $ddg := resources.Get "blinkies/ddg.gif" }}
{{ $debian := resources.Get "blinkies/debian.gif" }}
{{ $defund_badge := resources.Get "blinkies/defund_badge.gif" }}
{{ $despacito := resources.Get "blinkies/despacito.gif" }}
{{ $fckingwww := resources.Get "blinkies/fckingwww.gif" }}
{{ $gaywomen := resources.Get "blinkies/gaywomen.gif" }}
{{ $gutenberg := resources.Get "blinkies/gutenberg.gif" }}
{{ $hehim := resources.Get "blinkies/hehim.gif" }}
{{ $homicidenow := resources.Get "blinkies/homicidenow.gif" }}
{{ $imissxp := resources.Get "blinkies/imissxp.gif" }}
{{ $javascript := resources.Get "blinkies/javascript.gif" }}
{{ $nano2 := resources.Get "blinkies/nano2.gif" }}
{{ $piracy := resources.Get "blinkies/piracy.png" }}
{{ $preserve := resources.Get "blinkies/preserve.gif" }}
{{ $ralseismokingadart := resources.Get "blinkies/ralseismokingadart.gif" }}
{{ $seedyourtorrents := resources.Get "blinkies/seedyourtorrents.gif" }}
{{ $theythem := resources.Get "blinkies/theythem.gif" }}
{{ $wii := resources.Get "blinkies/wii.png" }}

<blinkies>
  <p>
    it's not a geocities-like without 88x31 buttons<br><br>
    <img src="{{ $agender.RelPermalink }}" alt="agender flag" title="agender flag">
    <img src="{{ $anthrax.RelPermalink }}" alt="anthrax now" title="anthrax now">
    <a href="https://www.mozilla.org/en-US/firefox/new/">
    <img src="{{ $anythingbut.RelPermalink }}" alt="no chrome" title="no chrome">
    </a>
    <img src="{{ $bi.RelPermalink }}" alt="bi flag" title="bi flag">
    <img src="{{ $cssdif.RelPermalink }}" alt="css is difficult" title="css is difficult">
    <a href="https://duckduckgo.com/">
    <img src="{{ $ddg.RelPermalink }}" alt="duckduckgo" title="duckduckgo">
    </a>
    <a href="https://mxlinux.org/">
    <img src="{{ $debian.RelPermalink }}" alt="powered by debian" title="powered by debian">
    </a>
    <img src="{{ $defund_badge.RelPermalink }}" alt="defund police" title="defund police">
    <img src="{{ $despacito.RelPermalink }}" alt="despacito now" title="despacito now">
    <a href="https://youtu.be/hriFSh2UziU">
    <img src="{{ $gaywomen.RelPermalink }}" alt="gay women" title="gay women">
    </a>
    <a href="https://www.gutenberg.org/">
    <img src="{{ $gutenberg.RelPermalink }}" alt="gutenberg" title="gutenberg">
    </a>
    <img src="{{ $hehim.RelPermalink }}" alt="he/him" title="he/him">
    <img src="{{ $homicidenow.RelPermalink }}" alt="homicide now" title="homicide now">
    <img src="{{ $imissxp.RelPermalink }}" alt="i miss xp" title="i miss xp">
    <img src="{{ $javascript.RelPermalink }}" alt="no javascript" title="no javascript">
    <a href="https://www.nano-editor.org/">
    <img src="{{ $nano2.RelPermalink }}" alt="made with nano" title="made with nano">
    </a>
    <img src="{{ $piracy.RelPermalink }}" alt="piracy" title="piracy">
    <a href="https://archive.org/">
    <img src="{{ $preserve.RelPermalink }}" alt="preserve" title="preserve">
    </a>
    <img src="{{ $ralseismokingadart.RelPermalink }}" alt="ralsei smoking a dart" title="ralsei smoking a dart">
    <img src="{{ $seedyourtorrents.RelPermalink }}" alt="seed torrents" title="seed torrents">
    <img src="{{ $theythem.RelPermalink }}" alt="they/them" title="they/them">
    <img src="{{ $wii.RelPermalink }}" alt="wii" title="wii">
  </p>
</blinkies>
