<music>
  {{ $csh := resources.Get "images/csh.gif" }}
<p>
  <img src="{{ $csh.RelPermalink }}" alt="car seat headrest music for the gays" title="<3">
<audio controls>
  <source src="/audio/cucumbers.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio><br>
sorry i don't know what other music to play. no it's not car seat headrest 
it's an unaired track from the soundtrack of star trek: deep space nine. called 
cucumbers in space. i think we can all guess why they didn't air this one
</p>
</music>
